@font-face {
  font-family: 'Posterlytics RedNote CJK';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('../../assets/fonts/rednote-noto-sans-sc-gb2312-l1-500.woff2') format('woff2');
  unicode-range: U+3000-303F, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}
